.ammunition__title {
    position: relative;
    margin-bottom: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 1.2;
    color: var(--black);

    &--bold{
        font-weight: 700;
    }

    @media screen and (min-width: $desktop) {
        margin-bottom: 0;
        font-size: 36px;
        line-height: 1.33;
    }

    &::after {
        display: none;
        content: "";
        position: absolute;
        top: 36px;
        right: 0px;
        background-color: var(--black);
        width: 780px;
        height: 1px;

        @media screen and (min-width: $desktop) {
            display: block;
        }
    }
}

.ammunition__description {
    margin-bottom: 64px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.62;
    color: var(--black-text);

    &--bold{
        font-weight: 700;
    }

    @media screen and (min-width: $desktop) {
        margin-bottom: 84px;
        margin-left: 700px;
    }
}

.ammunition__list {
    @media screen and (min-width: $desktop) {
        display: flex;
        justify-content: space-between;
    }
}

.ammunition__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: $desktop) {
        min-width: 380px;
    }
}

.ammunition__item:not(:last-child) {  
    margin-bottom: 36px;

    @media screen and (min-width: $desktop) {
        margin-bottom: 0;
    }
}

.ammunition__image {
    display: block;
    margin-bottom: 12px;

    @media screen and (min-width: $desktop) {
        margin-bottom: 24px;
    }
}

.ammunition__name {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.5;
    color: var(--black);
}
