.hero {
  background-color: var(--accent);
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__title {
  margin-bottom: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.12;
  letter-spacing: 0.03em;
  color: var(--blue);
}