.ukraine__image {
    width: 100vw;
    height: 370px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: 
    url("../images/flag_mobile.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            & {
                background-image: 
                url("../images/flag_mobile@2x.jpg");
            }
        }

    @media screen and (min-width: $desktop) {
        background-image: 
        url("../images/flag.jpg");
        left: 50%;
        height: 100%;
        width: 50vw;
        overflow: hidden;

        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            & {
                background-image: 
                url("../images/flag@2x.jpg");
            }
        }
    }
}

.ukraine__title {
    margin-bottom: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 35px;
    line-height: 1.17;
    color: var(--accent);

    @media screen and (min-width: $desktop) {
        max-width: 480px;
        font-size: 48px;
        line-height: 1.29;
    }
}

.ukraine__text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.04em;
    color: var(--white);

    @media screen and (min-width: $desktop) {
        max-width: 480px;
    }
}
    